h1{font-size: 400%;}
h1{text-align: center;}
h1{color: rgb(172, 118, 88);}


h2{text-align: center;}
h2{font-size: 200%;}


h3{text-align: center;}
h3{color: rgb(214, 74, 74);}
h3{font-size: 150%;}

h1{
    font-family: "Ojuju", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
 #m1{margin-left: 8%;}
 #m1{width: 30%;}

 #m2{width: 30%;}

 h1{border-style: solid;
    border-color: black;
    border-width: 5px;}